.mg-bot-30 {
	margin-bottom: 30px;
}
.mg-bot-0 {
	margin-bottom: 0px !important;
}
.fl-right {
	float: right;	
}
.fl-left {
	float: left;
}
input[type=radio] {
    margin-right: 10px;
}

.shipping-method label ,.payment-method label {
    font-weight:normal;
}
.shipping-method label.disable {
    color: #c7c7c7;
}
.color-delete {
    color: #b9491e;
}
.pd-top-0 {
	padding-top: 0px;
}
.link {
    color: #0082a9;
}
.point {
	cursor: pointer;
}
.col-box,.bank-box {
    display: none;
}
.alert-error {
	background-color: #a94442;
}
.modal-content.red-style {
    position: relative;
    padding: 2.4rem;
    background: #fff;
    background-clip: padding-box;
    box-shadow: 0 12px 15px 0 rgba(0,0,0,0.25);
    -webkit-transition: all 0.25s cubic-bezier(0.23, 1, 0.32, 1);
    transition: all 0.25s cubic-bezier(0.23, 1, 0.32, 1);
}
.modal-close-round {
    position: absolute;
    top: 0;
    right: 0;
    margin: 1.2rem;
    padding: 0.6rem;
    background: rgba(0,0,0,0.3);
    border-radius: 50%;
    -webkit-transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
    transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
    cursor: pointer;
    z-index: 1100;
}
.modal-close-round svg {
    width: 24px;
    fill: #fff;
    vertical-align: top;
}
.modal-close-round:hover {
    background: rgba(0,0,0,0.6);
}
.tb-f14 thead th {
	font-size: 14px;
	font-weight: bold;
}
.tb-f14 thead {
	background-color: rgba(62, 52, 52, 0.06);
}
.w-wish-list {
	width: 100px;
	margin: auto;
}
.h-95 {
	height: 95px;
}
.pd-left-0 {
	padding-left: 0px;
}
.full-width {
	width: 100%;
}
.tb-bd-body tr td {
    padding: 18px 0;
    vertical-align: top;
    border-left: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    text-align: center;
    line-height: 1.4;
}
.tb-bd-body tr td:first-child {
	border-left: 0px;
}
.bd-wish-list {
	border-top: 3px solid rgba(0, 0, 0, 0.52);
	border-bottom: 3px solid rgba(0, 0, 0, 0.52);
	max-height: 395px;
    overflow-y: auto;
}
.mg-bot-15 {
    margin-bottom: 15px;
}
.mg-bot-20 {
    margin-bottom: 20px;
}
#color.option:hover {
    background-color: rgba(221, 221, 221, 0.32);
}
#color.option {
    cursor: pointer;
}
.detail-color {
    padding-left: 25px;
}
.view-color-selector {
    float: left;
    width: 20%;
}
.input-group-addon.inherit {
    width: inherit;
}
.mg-bot-5 {
    margin-bottom: 5px;
}
.pager.wizard a {
    font-weight: bold;
}
.rotate90{
  transform: rotate(90deg) translateY(0%);
  -webkit-transform: rotate(90deg) translateY(0%);
  -ms-transform: rotate(90deg) translateY(0%);
}
.rotate180 {
  transform: rotate(180deg) translate(0%, 0%);
  -webkit-transform: rotate(180deg) translate(0%, 0%);
  -ms-transform: rotate(180deg) translateX(0%, 0%);
}
.rotate270 {
  transform: rotate(270deg) translateX(0%);
  -webkit-transform: rotate(270deg) translateX(0%);
  -ms-transform: rotate(270deg) translateX(0%);
}
.cursor-onclick {
    cursor: pointer;
}