@import url('owl.carousel.min.css');
@import url('bootstrap.min.css');
@import url('font-awesome.min.css');
@import url('flexslider.css');
@import url('bootstrap-magnify.min.css');

/*General Style*/
@font-face {
    font-family: 'Open Sans';
    src: url(../fonts/OpenSans-Light.ttf);
    font-weight: 200;
}
@font-face {
    font-family: 'Open Sans';
    src: url(../fonts/OpenSans-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: 'Open Sans';
    src: url(../fonts/OpenSans-Bold.ttf);
    font-weight: 600;
}
@font-face {
    font-family: 'Open Sans';
    src: url(../fonts/OpenSans-ExtraBold.ttf);
    font-weight: 800;
}

body {
    color : #333333;
    font-size: 12px;
    font-family: 'Open Sans';
    margin:0px !important;
}

.content {
    min-height: calc(100vh - 434px);
}


.Scratch {
    text-decoration: line-through
}

.btn-red {
    background-color: #ff2828;
}

.red {
    background-color: #ff2828;
}

.f-red {
    color: #ff2828;
}

.btn-default {
    background-color: transparent;
}

.text-white {
    color: #fff;
}

.font-20 {
    font-size: 20px !important;
}
.font-16 {
    font-size: 16px;
}

.btn {
    border-radius: 0;
}

.nav-icon {
    width: 25px;
}

.border-box {
    border: 1px solid #e7e7e7;
    border-radius: 10px;
}

.big-padding {
    padding: 15px 35px;
}

.small-padding {
    padding: 15px;
}
.medium-padding {
    padding: 25px 15px 25px 15px;
}

.promo-title-center {
    text-align: center;
    font-size: 20px;
    font-weight:200;
    text-transform: uppercase;
    padding: 25px;
}

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-xs-15 {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
.col-sm-15 {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}

/*Top header*/
.top-header {
    border-top: 15px solid #ff2828;
    border-bottom: 1px solid #cecece;
}

.logo {
    width: 250px;
}

.top-header .navbar-nav>li>a {
    padding-top: 8px;
    padding-bottom: 8px;
    color: #333333;
    font-weight: 400;
}

/*Navbar*/

.nav-header .navbar-default {
    background: transparent;
    border:0;
}

.nav-header .navbar-default .navbar-nav>.open>a {
    color: #333;
    background-color: transparent;
}
.nav-header .navbar-nav > li > a {
    color: #333333;
    font-size: 20px;
    font-weight: 200;
}

@media(min-width :768px) {
    .nav-header .navbar-nav > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
        margin-top: 20px;
    }
}

.nav-header .navbar-nav>.active>a {
    color: #fff;
    background-color: #ff2828;
}

.nav-header .navbar-nav>.active>a:focus, .nav-header .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #ff2828;
}

.nav-header .nav > li.dropdown.open {
  position: static;
}
@media(min-width: 1366px) {
    .nav-header .nav > li.search-icon.open {
      position: relative;
    }

    .dropdown-menu.search {
        min-width: 250px;
    }
    .nav-header .nav > li.search-icon.open .dropdown-menu.search {
        border: 0;
        left: inherit;
    }

    .nav-header .search .half-width {
        width: 100%;
    }
}

.nav-header .nav > li.dropdown.open .dropdown-menu {
  display: table;
  border-radius: 0px;
  width: 100%;
  text-align: left;
  left: 0;
  right: 0;
  padding: 25px 20px;
  border:0px;
  border-top: 3px solid rgb(255, 40, 40);
}

.nav-header .dropdown-menu > li {
  display: table-cell;
  height: 50px;
  line-height: 50px;
  vertical-align: middle;
}

.nav-header ul.dropdown-menu {
        padding-left: 30px;
}

ul.three-columns > li > a {
    font-size: 20px;
    color: #333;
    font-weight: 200;
}

@media (max-width: 767px) {
  .nav-header .dropdown-menu > li {
      display: block;
  }
}

/*Content*/

.homepage-slider .item img {
    opacity: 0.7;
    width: 100%;
    height: 80vh;
    object-fit: fill;
}

.homepage-slider .carousel-control .glyphicon {
    color: #1b1b1b;
    font-size: 45px;
}

.homepage-slider .carousel-control {
    background: transparent;
}

.homepage-slider .carousel-indicators {
    display: none;
}

.homepage-slider .shop-slider {
    position: absolute;
    bottom: 20%;
    right: 13%;
    text-align: right;
}

.homepage-slider .shop-slider h1 {
    margin-top: 10px;
    margin-bottom: 15px;
}

.homepage-slider .shop-slider h1.item-cat {
    padding: 15px 20px;
    margin-bottom: 20px;
    font-weight: 200;
}
.homepage-slider .shop-slider .btn-default {
    font-size: 20px;
    padding: 10px 20px;
    font-weight: 300;
    color: #000;
    border-color: #000;
}


.product-grid, .wishlist-box {
    height: 450px;
    text-align: center;
    position: relative;
}

.product-grid a:hover , .wishlist-box a:hover {
    text-decoration: none;
}

.product-grid .product-img img , .wishlist-box .product-img img{
    height: 260px;
    object-fit: cover;
    width: 100%;
}

.product-review {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.product-grid .product-name span , .wishlist-box .product-name span {
    font-size: 18px;
    font-weight: 400;
    color: #333;
}
.product-grid .product-price span , .wishlist-box .product-price span {
    font-size: 15px;
    font-weight: 200;
    color: #333;
}

.big-sale {
    position: relative;
}
.red-box {
    opacity: 0.33;
    /*background: rgba(255, 40, 40, 0.33);*/
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 25px 50px;
    width: 100%;
}

.red-box span {
    font-size: 36px;
}


.sale-box {
    border: 6px solid #f3f3f3;
    text-align: center;
    font-size: 60px;
    font-weight: 200;
    margin-top: 30px;
}

.red-thumbnails {
    padding: 15px;
}

.red-thumbnails h1 {
    margin-top:0;
    margin-bottom:5px;
}


/*Footer*/
.footer {
    background: #333;
    margin-top: 30px;
    border-bottom: 30px solid #000;
    padding: 15px 0px;
}

.footer p {
    font-size: 14px;
}

.footer h1 {
    font-size: 24px;
    margin-bottom: 20px;
}
.profile-box ul {
    padding-left: 0;
    list-style-type: none;
}
.profile-box li {
    line-height: 35px;
}
.profile-box.contact li {
    line-height: 55px;
}
.profile-box ul > li > a,.profile-box ul > li > span,.profile-box table,.profile-box p,.profile-box span {
    color: #333333;
    text-decoration: none;
    font-size: 14px;
    line-height: 10px;
    font-weight: 200;
}
.profile-box ul > li > a.active {
    color: #000;
    font-weight: bold;
}
.profile-box table thead th,.profile-box table tbody tr td,.profile-box p,.profile-box span {
    font-weight: 500;
}
.profile-box table thead th {
    line-height: 0;
    padding-bottom: 30px;
    border-bottom: 1px solid #cecece;
}
span.edit-style {
    text-decoration: none;
    font-size: 14px;
    line-height: 10px;
    font-weight: 200;
    color: #2ab3a6;
}
.modif-hr {
    border-top: 1px solid #cecece !important;
}
.color-light-blue {
    color: #2ab3a6 !important;
}
.fw-normal {
    font-weight: 500 !important;
}
.pd-left-0 {
    padding-left: 0px !important;
}
.icon-eye {
    background-color: #ff2828;
    display: flex;
    width: 22px;
    height: 22px;
    border-radius: 4px;
    color: white;
}
.icon-eye .fa {
    margin: auto;
}
.label::after {
    content: '*';
    color: #e02b27;
    font-size: 1.2rem;
    margin: 0 0 0 5px;
}
.mg-bot-20 {
    margin-bottom: 20px;
}
.mg-bot-25 {
    margin-bottom: 25px;
}
.profile-box div input,.profile-box div select,.profile-box div textarea {
    margin-top: 5px;
}
.btn-save {
    background-color: #ff2828;
    color: white;
    width: 80px;
}
.btn-save:hover,.btn-save:focus,.social-button:hover,.social-button:focus {
    color: white;
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}
.pd-right-0 {
    padding-right: 0px !important;
}
.fl-right {
    float: right;
}
.mg-bot-15 {
    margin-bottom: 15px;
}
.bd-top-gray {
    border-top: 1px solid #cecece;
}
.bd-bot-gray {
    border-bottom: 1px solid #cecece;
}
.bd-color {
  border: 1px solid #ddd;
}
.mg-same-20 {
    margin-top: 20px;
    margin-bottom: 20px;
}
.img-about-us {
    border-radius: 10px;
}
.about-f-size {
    font-size: 14px;
}
.map {
    height: 300px;
    border-radius: 4px;
}
.f-16 {
    font-size: 16px;
}
.f-14 {
    font-size: 14px !important;
}
.content-icon {
    padding-left: 8px;
    color: black;
}
.width-full {
    width: 100%;
}
.login-page {
    width: 50%;
    margin: 0 auto;
}
.login-page label {
    line-height: 3;
}
.login-page input {
    height: 50px;
}
.h-45 {
    height: 45px;
}
.mg-auto {
    margin: auto;
}
.social-button.facebook {
    background-color: #3B5998;
}
.social-button {
    color: white;
    transition: .2s ease-out;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    border-radius: 0px;
    width: 97%;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
}
.social-button.google {
    background-color: #DD4B39;
}
.half-width {
    width: 50%;
}
.no-padding {
    padding: 0px;
}
.social-button i {
    font-size: 25px;
    padding-right: 15px;
    position: relative;
    top: 2px;
}
.profile-box input,.profile-box select {
    height: 45px;
}
.btn-save.w-inherit {
    width: inherit;
}
.btn-reset {
    background-color: #c7c7c7;
    color: #776f6f;
}
.btn-reset:hover {
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}
.mg-r-10 {
    margin-right: 10px;
}
.w-85 {
    width: 85px;
}

.breadcrumb {
    padding: 8px 15px;
    padding-left: 0px;
    margin-bottom: 20px;
    margin-top: 20px;
    list-style: none;
    background-color: transparent;
}

.breadcrumb > li > a {
    color: #333;
}
.breadcrumb > li > a:hover{
    text-decoration: none;
}

.pagination>li>a, .pagination>li>span {
    border: 0;
    color: #333;
}

.pagination > li >a.page-link.active {
    font-weight: bold;
    color: #333;
}

.pagination>li>a:hover {
    color: #333;
    background-color: transparent;
    border-color: #ddd;
}

.sku h3 {
    font-size: 25px;
}

.product-price {
    margin: 15px 0px;
}
.wishlist-box .product-price {
    margin: 0px;
}

.wishlist-box h3 {
    text-align: left;
}
.wishlist-box .product-variant {
    margin-bottom: 5px;
}
.wishlist-box .product-variant span.size {
    font-size: 20px;
    color:#333;
}
.wishlist-box .product-variant span.color {
    font-size: 15px;
    margin-right:5px;
}
.wishlist-box .remove-wishlist {
    font-size: 15px;
    color: #333;
}

.product-price .extra-bold {
    margin-left: 5px;
}

.product-price span {
    font-size: 18px;
}

.product-name h1 {
    font-size: 24px;
    margin-top: 5px;
    margin-left:0px !important;
}
.product-description .product-review {
    text-align: left;
}

.product-description-text,.select-color {
    /*margin-top: 25px;*/
    margin-bottom: 25px;
}

.product-description .btn:hover {
    color: #fff;
}

.main-slider .img-responsive {
    max-height: 550px;
    object-fit: cover;
}

.thumbnails-slider ul.slides > li {
    margin-right: 10px !important;
    width:100px !important;
}
.thumbnails-slider ul.slides > li > img {
    height: 100px;
}
.main-slider .flex-direction-nav {
    display: none;
}
.flexslider {
    margin: 0 0 10px;
    border-left:0px;
}

.review {
    padding: 10px 20px;
    margin: 20px 0px;
}

.review span {
    font-size: 20px;
}

.picture-profile img {
    height: 110px;
    object-fit: cover;
}

h4.title-comment {
    font-size: 20px;
    margin-top:0px;
    margin-bottom:20px;
}

.product-comment {
    margin: 18px 0px;
    margin-top: 0px;
}

.product-comment .product-review {
    text-align: right;
}

.help-block strong,li.parsley-required {
    color: #ea540c;
}

table.cart thead tr th,table.summary thead tr th {
    font-weight: 400;
}
@media(min-width: 768px) {
    table.cart tbody tr td.product-img {
        width: 14%;
    }
    table.cart tbody tr td.product-name {
        width: 27%;
    }
}
table.cart tbody tr td.product-qty,table.cart tbody tr td.product-size,table.cart tbody tr td.product-price, table.cart thead tr th.product-price {
    text-align:center;
}

table.cart thead tr th.product-subtotal,table.cart tbody tr td.product-subtotal {
    text-align:right
}

table.cart thead tr th.product-item, table.cart tbody tr td.product-img {
    padding-left:0;
}
table.cart thead tr th.product-subtotal, table.cart tbody tr td.product-subtotal {
    padding-right:0;
}
table.cart tbody tr td {
    padding-top:25px;
    padding-bottom: 35px;
}
table.cart tbody tr td p {
    margin: 6px 0px 10px;
}
table.cart thead tr th,table.summary thead tr th {
    border-bottom: 1px solid #ddd;
}
table.cart {
    border-bottom: 1px solid #ddd;
}

.coupon-block .input-group input {
    height: 36px;
}
.coupon-block .input-group .btn-red {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.coupon-block .input-group .btn-red:hover {
    color: #fff;
}

.coupon-block .col-md-6 {
    padding-left: 0px;
}

.cart-block {
    margin-top: 30px;
}

table.summary thead tr th, table.summary tbody tr td:first-child, table.summary tfoot tr td:first-child {
    padding-left: 0px;
}

table.summary tbody tr td:last-child, table.summary tfoot tr td:last-child {
    text-align: right;
}

table.summary tbody tr td, table.cart tbody tr td  {
    border:0;
}

table.summary tbody tr:first-child td {
    padding-top: 25px;
    padding-bottom: 5px;
}
table.summary tbody tr:last-child td {
    padding-top: 5px;
    padding-bottom: 25px;
}
table.summary tfoot tr td {
    padding-top: 15px;
    font-weight:bold;
}
table.summary thead tr th {
    padding-bottom: 15px;
}

table.summary {
    margin-bottom:0px;
}

.button-block .btn-red:hover , .button-block .btn-grey:hover {
    color: #fff;
}
.btn-grey:hover {
    color: #fff;
}
.button-block .btn-red , .button-block .btn-grey {
    padding: 15px 40px;
}

.button-block .btn-red {
    float: right;
}

.button-block {
    margin-top: 40px;
}

.checkout-form label {
    font-weight: 400;
}

.checkout-title {
    margin: 20px 0px;
}

.checkout-form .h-55 {
    height: 55px;
}

.checkout-form .title-label {
    margin-bottom: 25px;
}

label.required {
    color: red;
    margin-left: 0px;
}

.shipping-title {
    padding-bottom: 15px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
}

.shipping-method {
    margin-top: 30px;
}

.shipping-list input[type=radio] {
    margin: 8px 0 0;
    margin-left: -35px;
}

.shipping-list label {
    padding-left: 60px;
}

.btn-checkout {
    margin-top: 40px;
}

.modal-map .modal-title {
    font-size: 25px;
}
.modal-map .btn {
    font-size: 25px;
}

.btn-red:hover {
    color:#fff;
}

/*Responsive code*/
.top-nav {
    float: right;
}
@media (max-width: 767px) {
    .languages {
        float: left;
    }
    .top-nav {
        display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
        display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
        display: -ms-flexbox;      /* TWEENER - IE 10 */
        display: -webkit-flex;     /* NEW - Chrome */
        display: flex;
        float: right;
    }
    .navbar-header {
        height: 65px;
    }
    .logo {
        width: 227px;
    }
    .navbar-toggle {
        margin-top: 24px;
    }
    .navbar-default .navbar-collapse {
        text-align: center;
    }
}
.width-inherit {
    width: inherit;
}
.height-inherit {
    height: inherit !important;
}
.mg-top-18 {
    margin-top: 18px;
}
.w-200 {
    width: 200px;
}
.w-215 {
    width: 215px;
}
.w-30-percent {
    width: 30%;
}
.color-gray {
    color: #949494 !important;
}
.profile-box.contact img {
    width: 45px;
    height: 45px;
    margin-left: -10px;
    margin-top: -17px;
}

.product-tag {
    position: absolute;
    left:0;
    top:0;
    width:100%;
}
.svg-clip {
  width: 0;
  height: 0;
}

.polygon-tag {
    width: 100%;
    display: block;
    -webkit-clip-path: polygon(0 0, 42% 0, 29% 29%, 0 45%);
    clip-path: url("#polygon-tag");
    height: 250px;
    text-align: left;
    padding-left: 9px;
    padding-top: 10px;
}

.polygon-tag span {
    margin-bottom: 0px;
    font-size: 18px;
    text-transform: uppercase;
}
.f-16 {
    font-size: 16px !important;
}
.sale-tag {
    background-color: #cccc00;
}
.polygon-tag.green {
    background-color: #4fb353;
}
.category-list li a {
    vertical-align: middle;
    padding-left: 10px;
}
.bd-50 {
    border-radius: 50%;
}
.shop-slider h1.item-cat.red.text-white {
    text-transform: uppercase;
}
.profile-box h3.title {
    font-size: 22px !important;
}

.f-30 {
    font-size: 30px !important;
}


form label.label span,.profile-box thead th,.profile-box tbody td,form textarea,form input,form select {
    font-size: 18px !important;
}
.f-27 {
    font-size: 27px !important;
}
ul.sidebar-menu li a {
    font-size: 21px;
}
.profile-box ul li span,.profile-box ul li a {
    font-size: 18px;
    color: #333333;
}
.default-box {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 15px 15px;
    margin: 0 16px;
}
.display-inline {
    display: inline-block;
}
.product-description .btn-red {
    /*margin-top: 25px;*/
}
.select-color .radio label span,.product-size span {
    padding-left: 35px;
    border: 1px solid #ddd;
}
.select-color .col-md-2 {
    padding-left: 0px;
}
.select-size li.divider {
    margin: 0px;
}
.select-size li.divider:last-child {
    height: 0px;
}

/*Radio*/
.radio label span {
  position: relative;
  top: -5px;
}
.radio {
  padding-left: 20px; }
.radio label {
  display: inline-block;
  vertical-align: middle;
  position: relative;
    padding-left: 5px; }
.radio label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  margin-left: -20px;
  border: 1px solid #cccccc;
  border-radius: 50%;
  background-color: #fff;
  -webkit-transition: border 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out;
      transition: border 0.15s ease-in-out; }
.radio label::after {
  display: inline-block;
  position: absolute;
  content: " ";
  width: 11px;
  height: 11px;
  left: 3px;
  top: 3px;
  margin-left: -20px;
  border-radius: 50%;
  background-color: #555555;
  -webkit-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  transform: scale(0, 0);
  -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
      transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
}
.radio input[type="radio"] {
  opacity: 0;
  z-index: 1;
  cursor: pointer;
}
.radio input[type="radio"]:focus + label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
      outline-offset: -2px; }
.radio input[type="radio"]:checked + label::after {
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
      transform: scale(1, 1); }
.radio input[type="radio"]:disabled {
    cursor: not-allowed;
}
.radio input[type="radio"]:disabled + label {
      opacity: 0.65; }
.radio input[type="radio"]:disabled + label::before {
        cursor: not-allowed; }
.radio.radio-inline {
    margin-top: 0; }

.radio-primary input[type="radio"] + label::after {
  background-color: #337ab7; }
.radio-primary input[type="radio"]:checked + label::before {
  border-color: #337ab7; }
.radio-primary input[type="radio"]:checked + label::after {
  background-color: #337ab7; }

.radio-danger input[type="radio"] + label::after {
  background-color: #d9534f; }
.radio-danger input[type="radio"]:checked + label::before {
  border-color: #d9534f; }
.radio-danger input[type="radio"]:checked + label::after {
  background-color: #d9534f; }

.radio-info input[type="radio"] + label::after {
  background-color: #5bc0de; }
.radio-info input[type="radio"]:checked + label::before {
  border-color: #5bc0de; }
.radio-info input[type="radio"]:checked + label::after {
  background-color: #5bc0de; }

.radio-warning input[type="radio"] + label::after {
  background-color: #f0ad4e; }
.radio-warning input[type="radio"]:checked + label::before {
  border-color: #f0ad4e; }
.radio-warning input[type="radio"]:checked + label::after {
  background-color: #f0ad4e; }

.radio-success input[type="radio"] + label::after {
  background-color: #5cb85c; }
.radio-success input[type="radio"]:checked + label::before {
  border-color: #5cb85c; }
.radio-success input[type="radio"]:checked + label::after {
  background-color: #5cb85c; }

input[type="checkbox"].styled:checked + label:after,
input[type="radio"].styled:checked + label:after {
  font-family: 'FontAwesome';
  content: "\f00c"; }
input[type="checkbox"] .styled:checked + label::before,
input[type="radio"] .styled:checked + label::before {
  color: #fff; }
input[type="checkbox"] .styled:checked + label::after,
input[type="radio"] .styled:checked + label::after {
  color: #fff; }

.budge-cart {
    position: absolute;
    background-color: #ff2828;
    top: 22px;
    width: 20px;
    left: 32px;
    height: 20px;
    text-align: center;
    border-radius: 50%;
    color: white;
    font-size: 11px;
}
.budge-cart.show {
    display: block;
}
.budge-cart.hide {
    display: none;
}
.product-name p {
    word-wrap: break-word;
}
.font-16 {
    font-size: 16px;
}
.div-color {
    cursor: pointer;
    width: 40px;
    height: 25px;
}
.div-color.active {
    border: 2px solid #5bc0de;
}
.select-size .dropdown-menu {
    left: -155px;
}
.select-size li {
    cursor: pointer;
}
.polygon-tag.arrival-tag {
    background-color: #00cccc;
}
.polygon-tag.out-of-stock {
    background-color: #bd1e1e;
}
.social-button .plus-position {
    top: 0px;
    left: 5px;
}
.dropdown-toggle .fa-angle-down {
    font-weight: bold;
    font-size: 14px;
}
.big-sale img {
    height: 370px;
}
.small-img img {
    height: 100%;
    width: 100%;
}
.mg-bot-11 {
    margin-bottom: 11px;
}
.mg-top-11 {
    margin-top: 11px;
}
.mg-top-20 {
    margin-top: 20px;
}
.mg-top-25 {
    margin-top: 25px;
}
.h-174 {
    height: 174px;
}
.pd-top-10 {
  padding-top: 10px;
}
.box-content {
  display: none;
}
.f-l {
  float: left;
}
.f-r {
  float: right;
}
.no-radius {
  border-radius: 0px !important;
}
.img-wishlist {
    width: 200px;
    height: 25vh;
    display: block;
   margin: auto;
}
.pd-left-25 {
  padding-left: 25px;
}
.wishlist-detail {
  padding-left: 7px;
  font-weight: bold !important;
}
/*.wishlist-box {
    border: 1px solid #ddd;
    padding-top: 15px;
    cursor: pointer;
}*/
.hover-btn {
   position: absolute;
   right: 15px;
   display: block;
}
.no-hover:hover {
  text-decoration: none;
}
.close-round {
    position: absolute;
    top: -40px;
    width: 30px;
    height: 35px;
    right: -10px;
    padding: 5px;
    background: rgba(255, 40, 40, 0.55);
    border-radius: 0%;
    -webkit-transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
    transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
    cursor: pointer;
    z-index: 1100;
    border: 0px;
}
.close-round svg {
    width: 24px;
    fill: #fff;
    vertical-align: top;
}
.close-round:hover {
    background: rgba(0,0,0,0.6);
}
.real-black {
  color: black;
}
.small-img {
  height: 174px;
}
#shippingFee select {
    height: 45px;
}
.checkout label {
    font-weight: 500;
}
.width-25 {
    width: 25% !important;
}
.nav-header .navbar-default .navbar-nav>.open>a.hover-search {
    background-color: rgba(0, 0, 0, 0.03);
    border-radius: 4px;
}
.hover-search {
    cursor: pointer;
}
.pd-top-bot-10 {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}
.h-40 {
    height: 40px;
}

.navbar-custom {
    display:none;
}
ul.social-icon {
    list-style-type: none;
    float: right;
}
ul.social-icon > li {
    display: inline-block;
    padding: 5px;
}

.red-box span {
    word-break: break-all;
}

.f-20 {
    font-size: 20px !important;
}


/*Responsive code here*/

@media(max-width: 767px) {
    .mobile-none {
        display: none !important;
    }
    .f-30,.profile-box h3.title {
        font-size: 18px !important;
        margin-top:15px;
    }

    .f-20 {
        font-size: 16px !important;
    }

    .contact h3 {
        font-size: 14px;
    }

    .pd-left-0 {
        padding-right: 0px;
    }

    .pd-right-0 {
        padding-left: 0px !important;
    }

    .login-page {
        width: 100%;
    }

    .login-page .btn-save {
        width: 100%;
    }
    .login-page .btn-reset {
        width: 100%;
        margin-top: 20px;
    }
    .social-button.facebook{
        width: 100%;
    }
    .social-button.google {
        width: 100%;
        margin-top: 15px;
    }
    .pd-0-mobile {
        padding-left: 0;
        padding-right: 0;
    }
    .product-name {
        margin-top: 8px;
    }
    .product-name span {
        font-size: 16px !important;
    }
    .product-grid .product-price span , .wishlist-box .product-price span {
        font-size: 14px !important;
    }

    .polygon-tag span {
        font-size: 12px !important;
    }
    .polygon-tag {
        clip-path: url(#polygon-tag-mobile);
    }
    .product-grid , .wishlist-box {
        height:330px;
    }
    .product-grid .product-img img, .wishlist-box .product-img img {
        height: 230px;
    }
    .homepage-slider .carousel-control .glyphicon {
        display: none;
    }
    .homepage-slider .shop-slider {
        right: 3%;
    }
    section.homepage .polygon-tag {
        width: 165px;
    }
    .nav-header .navbar-collapse {
        width: 100%;
        margin:0;
    }
    .nav-header .nav > li.dropdown.open .dropdown-menu {
        padding: 24px 0px;
    }
    ul.category-list {
        padding-left: 0;
    }
    .navbar-custom {
        display:block;
        width: 100%;
        text-align: right;
    }
    .navbar-custom .nav>li {
        display: inline-block;
    }
    .product-description {
        margin-top:10px;
    }
    .product-description .sku h3{
        font-size: 14px;
    }
    .product-description .product-name h1{
        font-size: 14px;
        margin: 0px;
    }
    .product-description .product-price span {
        font-size: 14px;
    }
    .product-comment h4.title-comment {
        font-size: 14px;
        margin-top: 10px;
    }
    .thumbnails-slider {
        display: none;
    }
    .big-sale {
        margin-bottom:30px;
    }
    .big-sale .red-box span {
        font-size: 14px;
    }
    .big-sale .red-box {
        padding: 22px 12px;
    }
    .sale-box {
        font-size: 18px;
        font-weight: 200;
        margin-top: 27px;
    }
    .shop-slider h1 {
        font-size: 14px;
    }
    .homepage-slider .item img {
        height: calc(100vh - 221px);
    }
    .profile-box .table-responsive {
        padding-top: 15px;
    }
    .top-header .nav>li>a {
        display: table;
    }
    .top-header .nav .open>a, .nav .open>a:focus, .nav .open>a:hover, .top-header .nav>li>a:focus, .nav>li>a:hover {
        background-color: transparent;
    }
    .table.cart .img-responsive {
        width: 100px;
        max-width: 100px;
    }
    table.cart thead tr th.product-item, table.cart tbody tr td.product-img {
            padding-left: 20px;
    }
    table.cart thead tr th.product-subtotal, table.cart tbody tr td.product-subtotal {
        padding-right: 20px;
    }
    table.cart {
        margin-bottom: 20px !important;
    }
}

@media(max-width: 767px) and (orientation : portrait) {
    .navbar-custom .nav > li.dropdown.open .dropdown-menu {
        width: 100%;
        position: absolute;
        border:0px;
    }

}

@media(max-width: 767px) and (orientation : landscape) {
    .polygon-tag {
        width: 160px;
    }
    .navbar-custom .nav > li.dropdown.open .dropdown-menu {
        width: 100%;
        position: absolute;
        top: 110px;
        border:0px;
    }
    .navbar-custom .mg-auto {
        margin-left: 0px;
    }
    .navbar-custom .half-width {
        width: 100%;
    }
}

/*Ipad portrait*/
@media (min-width : 768px) and (max-width : 1024px) and (orientation : portrait) {
    .pd-left-0 {
        padding-right: 0px;
    }

    .pd-right-0 {
        padding-left: 0px !important;
    }

    .login-page {
        width: 70%;
    }

    .social-button.facebook{
        width: 100%;
    }
    .social-button.google {
        width: 100%;
        margin-top: 15px;
    }

    .pd-0-mobile {
        padding-left: 0;
        padding-right: 0;
    }
    .mobile-none {
        display: none !important;
    }
    .logo {
        width: 235px;
    }
    .nav-header .navbar-nav > li > a , ul.three-columns > li > a{
        font-size: 14px;
    }
    .navbar-custom {
        display:block;
        width: 100%;
        text-align: right;
    }
    .navbar-custom .nav > li.dropdown.open .dropdown-menu {
        width: 70%;
        position: absolute;
        top: 69px;
        border:0px;
        webkit-box-shadow: none;
        box-shadow: none;
    }
    .navbar-custom .mg-auto {
        margin-left: 14px;
    }
    .product-description {
        margin-top:10px;
    }
    .product-grid .product-img img, .wishlist-box .product-img img {
        height: 320px;
    }
    .product-grid , .wishlist-box {
        height: auto;
    }
    .product-grid .product-price , .wishlist-box .product-price {
        margin-bottom: 15px !important;
    }
}

/*Ipad Landscape*/
@media (min-width : 768px) and (max-width : 1024px) and (orientation : landscape) {
    .social-button.facebook,.social-button.google{
        font-size: 13px !important;
    }
    .mobile-none {
        display: none !important;
    }
    .navbar-custom {
        display:block;
        width: 100%;
        text-align: right;
    }
    .navbar-custom .nav>li {
        display: inline-block;
    }
    .navbar-custom .nav > li.dropdown.open .dropdown-menu {
        width: 70%;
        position: absolute;
        top: 69px;
        border:0px;
        webkit-box-shadow: none;
        box-shadow: none;
    }
    .navbar-custom .mg-auto {
        margin-left: 14px;
    }
}

@media (min-width : 1024px) and (max-width : 1366px) and (orientation : portrait) {
    .navbar-custom {
        display:block;
        width: 100%;
        text-align: right;
    }
    .navbar-custom .nav>li {
        display: inline-block;
    }
    .navbar-custom .nav > li.dropdown.open .dropdown-menu {
        width: 70%;
        position: absolute;
        top: 69px;
        border:0px;
        webkit-box-shadow: none;
        box-shadow: none;
    }
    .navbar-custom .mg-auto {
        margin-left: 14px;
    }
}

/*iphone 5*/
@media (min-width : 320px) and (max-width : 568px) and (orientation : portrait) {
    .logo {
        width: 187px;
    }
    .navbar-custom .half-width {
        width: 100%;
    }
}

.no-margin {
    margin: 0px !important;
}
.btn-red:focus {
    color: white;
}
.w-inherit {
    width: inherit;
}
.address-box {
    border: 1px solid #ddd;
    cursor: pointer;
    width: 48%;
    margin-right: 14px;
    margin-bottom: 10px;
}
#additionalAddress {
    max-height: 425px;
    overflow-y: scroll;
}
.address-box.active {
    background-color: rgba(221, 221, 221, 0.36);
    border: 1px solid #909090;
    box-shadow: 1px 1px 1px 1px #ddd;
}
p.empty-bag {
    font-size: 16px;
}
.modal-body.confirm-payment .row {
    padding-left: 15px;
    padding-right: 15px;
}
.form-control.payment {
    font-size: 12px !important;
}
.form-group.payment input {
    font-size: 12px !important;
}
button.btn.btn-xs.btn-gold {
    background-color: #e6d23f;
}
.no-action {
    cursor: default;
    pointer-events: none;
}
.icon-eye:hover {
    text-decoration: none;
    color: white;
    background-color: #ff2828;
}
.icon-eye {
    cursor: pointer;
}

.product-description button.btn-grey {
    background-color: #b4b4b4;
}

input[type=file] {
    -webkit-appearance: none;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    cursor: pointer;
}

.product-comment textarea {
    width: 100%;
}
.point-remaining {
    color: #8e6506;
}

table.order-details-total >tbody> tr > td {
    border: 0;
}
table.order-details-total >tbody> tr > td.light {
    font-weight: 200 !important;
    text-align: right;
}
table.order-details-confirmation >tbody> tr > td {
    font-weight: 200 !important;
}

.confirmation-order.title {
    padding-left: 5px;
}
@media(max-width: 767px) {
    h3.confirmation-order.title {
        font-size: 22px !important;
        margin-top: 5px;
    }
}

ul.searchList > ul {
    list-style-type: none;
    padding-left: 0;
}

ul.searchList {
    margin-top: 10px;
    padding-left: 0;
}

ul.searchList.mobile{
    background: white;
    padding: 10px;
}

.profile-box.contact .f-30{
    font-size: 18px !important;
}

.form-getintouch .f-20 {
    font-size: 18px !important;
}
.mg-top-10 {
    margin-top: 10px;
}
.btn-create-address {
    width: 175px;
    float: right;
    margin-top: 13px;
}
.inline-box {
    display: inline-block;
}
.cursor-pointer {
    cursor: pointer;
}
.mg-l-20 {
    margin-left: 20px;
}
.w-150 {
    width: 150px !important;
}
.color-white {
    color: white;
}
.rotate90{
  transform: rotate(90deg) translateY(0%);
  -webkit-transform: rotate(90deg) translateY(0%);
  -ms-transform: rotate(90deg) translateY(0%);
}
.rotate180 {
  transform: rotate(180deg) translate(0%, 0%);
  -webkit-transform: rotate(180deg) translate(0%, 0%);
  -ms-transform: rotate(180deg) translateX(0%, 0%);
}
.rotate270 {
  transform: rotate(270deg) translateX(0%);
  -webkit-transform: rotate(270deg) translateX(0%);
  -ms-transform: rotate(270deg) translateX(0%);
}