@import url('bootstrap.min.css');
@import url('font-awesome.min.css');

/*General Style*/
@font-face {
    font-family: 'Open Sans';
    src: url(../fonts/OpenSans-Light.ttf);
    font-weight: 200;
}
@font-face {
    font-family: 'Open Sans';
    src: url(../fonts/OpenSans-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: 'Open Sans';
    src: url(../fonts/OpenSans-Bold.ttf);
    font-weight: 600;
}
@font-face {
    font-family: 'Open Sans';
    src: url(../fonts/OpenSans-ExtraBold.ttf);
    font-weight: 800;
}

body {
    color : #333333;
    font-size: 12px;
    font-family: 'Open Sans';
}

.light {
    font-weight: 200;
}
.reguler {
    font-weight: 400;
}

.bold {
    font-weight: 600;
}

.extra-bold {
    font-weight: 800;
}


.btn-green {
    background-color: #2dbe60;
}

.green {
    background-color: #2dbe60;
}

.btn-default {
    background-color: transparent;
}

.text-white {
    color: #fff;
}

.btn {
    border-radius: 0;
}

.nav-icon {
    width: 25px;
}

.promo-title-center {
    text-align: center;
    font-size: 20px;
    font-weight:200;
    text-transform: uppercase;
    padding: 25px;
}

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-xs-15 {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
.col-sm-15 {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}

/*Top header*/
.top-header {
    border-top: 15px solid #2dbe60;
    border-bottom: 1px solid #cecece;
}

.logo {
    width: 250px;
}

.top-header .navbar-nav>li>a {
    padding-top: 8px;
    padding-bottom: 8px;
    color: #333333;
    font-weight: 400;
}

/*Navbar*/

.nav-header .navbar-default {
    background: transparent;
    border:0;
}

.nav-header .navbar-default .navbar-nav>.open>a {
    color: #fff;
    background-color: #2dbe60;
}
.nav-header .navbar-nav > li > a {
    color: #333333;
    font-size: 20px;
    font-weight: 200;
}

@media(min-width :768px) {
    .nav-header .navbar-nav > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
        margin-top: 20px;
    }
}

.nav-header .navbar-nav>.active>a {
    color: #fff;
    background-color: #2dbe60;
}

.nav-header .navbar-nav>.active>a:focus, .nav-header .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #2dbe60;
}

.nav-header .nav > li.dropdown.open {
  position: static;
}

.nav-header .nav > li.dropdown.open .dropdown-menu {
  display: table;
  border-radius: 0px;
  width: 100%;
  text-align: left;
  left: 0;
  right: 0;
  padding: 25px 20px;
  border:0px;
  border-top: 3px solid rgb(45, 190, 96);
}

.nav-header .dropdown-menu > li {
  display: table-cell;
  height: 50px;
  line-height: 50px;
  vertical-align: middle;
}

.nav-header ul.dropdown-menu {
        padding-left: 30px;
}

ul.three-columns > li > a {
    font-size: 25px;
    color: #333;
    font-weight: 200;
}

@media (max-width: 767px) {
  .nav-header .dropdown-menu > li {
      display: block;
  }
}

/*Content*/

.homepage-slider .item img {
    opacity: 0.7;
    width: 100%;
}

.homepage-slider .carousel-control .glyphicon {
    color: #1b1b1b;
    font-size: 45px;
}

.homepage-slider .carousel-control {
    background: transparent;
}

.homepage-slider .carousel-indicators {
    display: none;
}

.homepage-slider .shop-slider {
    position: absolute;
    bottom: 20%;
    right: 13%;
    text-align: right;
}

.homepage-slider .shop-slider h1 {
    margin-top: 10px;
    margin-bottom: 15px;
}

.homepage-slider .shop-slider h1.item-cat {
    padding: 15px 20px;
    margin-bottom: 20px;
    font-weight: 200;
}
.homepage-slider .shop-slider .btn-default {
    font-size: 20px;
    padding: 10px 20px;
    font-weight: 300;
    color: #000;
    border-color: #000;
}


.product-grid {
    height: 380px;
    text-align: center;
}

.product-grid a:hover {
    text-decoration: none;
}

.product-grid .product-img img {
    height: 260px;
    object-fit: cover;
}

.product-review {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.product-grid .product-name span {
    font-size: 24px;
    font-weight: 400;
    color: #333;
}
.product-grid .product-price span {
    font-size: 20px;
    font-weight: 200;
    color: #333;
}


.green-box {
    background: rgba(45, 190, 96, 0.65);
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 25px 50px;
    margin: 0 16px;
}


.sale-box {
    border: 6px solid #f3f3f3;
    text-align: center;
    font-size: 60px;
    font-weight: 200;
    margin-top: 30px;
}

.green-thumbnails {
    padding: 15px;
}

.green-thumbnails h1 {
    margin-top:0;
    margin-bottom:5px;
}


/*Footer*/
.footer {
    background: #333;
    margin-top: 30px;
    border-bottom: 30px solid #000;
    padding: 15px 0px;
}

.footer p {
    font-size: 14px;
}

.footer h1 {
    font-size: 24px;
    margin-bottom: 20px;
}
